.centered {
    text-align: center;
    align-content: center;
    align-items: center;
}
.container {
    padding: 10px;
}
.padded {
    padding: 10px;
}
.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
  }
  .border {
    border: 2px;
    border-style: solid;
    border-color: black;
  }
  .placeholder-img {
	width: 100px;
	height: 100px;
	margin: 20px 20px 20px 20px;
	background: rgb(182, 177, 177);
	border: 1px solid black;
    margin: 10px;
}
h2 {
    font-size: 22px;
  }
  .full-width {
	width: 100%;
}
.right {
    float: right;
    text-align: right;
}
.left {
    float: left;
    text-align: left;
}
.ad {
height: 300px;
}
.korosta {
    color: black;
    background-color: grey;
}
a:link {
    color: black;
    text-decoration: none;
}
a:visited {
    color: black;
}

.height {
    height: 200px;
}
h3 {
    font-size: 18px;
}
body {
    background-color: white; 
}
header {
    background-color: lightgray;
}
.btn-secondary {
    background-color: rgb(171, 173, 171);
    border: none;
    margin:  10px;
}
.front-pg-company {
    border: 2px;
    border-style: solid;
    margin: 10px;
    padding: 10px;
    border-color: lightgrey;
    border-radius: 10px;
  
}
a.company-info:link {
        color: black;
        text-decoration: none;
    }
a.company-info:visited {
        color: black;
        text-decoration: none;
    }
a.company-info:hover {
        background-color: none;
        text-decoration: underline;
        font-weight: bold;
        transition: 0.5s;
        transition-timing-function: ease;
    }
.btn-primary {
        background-color: rgb(176, 231, 176);
        border: none;
        border-radius: 8px;
        padding: 6px;
    }
#header-logo{
    font-size: 30px;
    margin: 10px;

}
.nav {
    padding-top: 10px;
}
.col {
    margin-bottom: 30px;
}
.hero-image {
    background: url(/vastuullisetlastenvaatteet-22.jpg) no-repeat center; 
    background-size: cover;
    position: relative;
    height: 350px;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 5px;
    color: rgb(87, 85, 85);
    }
h1{
color: black;
}
.overflow{
    background-color: rgb(255, 255, 255, 0.4);
}